@charset "utf-8";
body {
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color: #686767;
}



h3{
	color: #d62323;
}

.wrapper {
	width:960px;
	margin:0 auto;
	height:auto;
	background:#FFF;
	border:2px #f9f9f9 solid;
}

a, a:link, a:hover, a:active, a:visited {
	text-decoration:none;
}

.logo {
	height:110px;
}

img{
	border:0;
	}

.nav_menu {
	width:950px;
	height:32px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(left, #ffffff 0%, #989898 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(100%,#989898)); 
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #ffffff 0%,#989898 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #ffffff 0%,#989898 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #ffffff 0%,#989898 100%); /* IE10+ */
	background: linear-gradient(to right, #ffffff 0%,#989898 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#989898',GradientType=1 ); 
	/* IE6-9 */
	-webkit-border-radius: 10px;
    border-radius: 10px;
}

.nav_menu ul {
	width:950px;
	height:32px;
	padding: 0px;
	display:inline;
}

.nav_menu li {
	color:#FFF;
	font-weight:bold;
	display:inline-block;
	background:#dc4949;
	
	
	margin:3px;
	margin-right:15px;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	
	-webkit-border-radius: 10px;
    border-radius: 10px;
}

.nav_menu a {
	color:#FFF;
}

.nav_menu a:link {
	color:#FFF;
}

.nav_menu a:hover {
	color:#000;
}

.catProduct a {
	color: #686767;
	font-family: Utsaah;
	font-size: 19px;
	font-weight: bold;
}

.catProduct a:link {
	color: #686767;
	font-family: Utsaah;
	font-size: 19px;
	font-weight: bold;
}

.catProduct a:hover {
	color: black;
	font-family: Utsaah;
	font-size: 19px;
	font-weight: bold;
}

.breadcrumbs {
	/*
margin-left:42px;
*/
	color: #7c7c7c;
}

#category_nav a{
	color: #454545;
}

#category_nav a:link{
	color: #454545;
}

#category_nav a:hover{
	color: #454545;
	text-decoration: underline;
}


#promo_banner{
	float: left;
	width: 740px;
	height: 140px;
	margin-left: 20px;
	background:url(../images/footer_bg.png) repeat-x;

}

.vid_small{
	float: left;
	margin:5px;
	margin-top: 30px;
	width: 60px;
}

#promo_image_small{
	float: left;
	width: 450px;
}

.promo_vids {
	float:left;
	width:245px;
	height:190px;
}

.promo_vids_small{
	float:left;
	width:290px;
	height:190px;
}

.main_content {
	margin-left:5px;
}

.promo_vids img {
	float:left;
	margin-right:10px;
	margin-bottom:10px;
}


.category_content {
	width:948px;
	height:auto;
	background:url(../images/cats_bg.png) repeat-x;
}

#order_button{
	background-color: #d62323;
	color: white;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 6px;
	width: 106px;
	float: right;
	font-size: 15px;
}
.category_content p {
	font-family:Utsaah;
	font-size:19px;
	font-weight:bold;
	padding:0;
	margin-top:10px;
}

#category_nav{
	float: left;
	padding: 25px;
	width:	145px;
	background:url(../images/cats_bg.png) repeat-x;
}


#category_nav li{
	color: #454545;
}

#product_content{
	float: left;
	margin-left: 20px;
	padding: 10px;
	width: 720px;
	background:url(../images/cats_bg_inv.png) repeat-x;
	background-position:center bottom; 
	padding-bottom: 30px;
}

#product_image{
	float: left;
	width: 240px;
}
#product_summary{
	float: left;
	width:	450px;
	background-color: white;
	border: 1px solid #e3e3e3;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.cat1, .cat2, .cat3, .cat4 {
	float:left;
	width:210px;
	height:220px;
	margin-left:22px;
}

.catProduct{
	margin: 22px;
}

.product{
	float: left;
	width: 150px;
	height: 170px;
	margin: 4px;
	background-color: white;
	border: 1px solid #e3e3e3;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
}

.product_item_cont{
	width: 150px;
	height: 150px;
	margin-bottom: 5px;
}
.product_item{
	max-width: 150px;
	max-height: 150px;
}

#service_content{
	float: left;
	width: 100%;
	background:url(../images/cats_bg.png) repeat-x;
	padding: 10px;
}

.service{
	float: left;
	width: 545px;
	background-color: white;
	padding: 10px;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: 20px;
}
.cat1 {
	background:url(../images/cat1.png) no-repeat;
}

.cat2 {
	background:url(../images/cat2.png) no-repeat;
}

.cat3 {
	background:url(../images/cat3.png) no-repeat;
}

.cat4 {
	background:url(../images/cat4.png) no-repeat;
}

.category_content a {
	color:#000;
}

.category_content a:link {
	color:#000;
}

.category_content a:hover {
	color:#d62323;
}

.category_content a:visited {
}

	
.footer {
	width:960px;
	height:140px;;
	background:url(../images/footer_bg.png) repeat-x;
}

.footer ul {
	list-style-image:url(../images/li.png);
	list-style-position:outside;
	margin-right:100px;
	float:left;
}

.footer p {
	margin:0;
	padding:0;
	text-align:right;
	margin-right:20px;
}